<h2>System</h2>

<form>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group toggle-group">
				<label class="field-label">Recorder</label>
				<div class="checkbox toggle">
					<input type="checkbox" id="recorder" class="hide">
					<label for="recorder">
						<span class="switch"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group toggle-group">
				<label class="field-label">Restore State on Startup</label>
				<div class="checkbox toggle">
					<input type="checkbox" id="state" class="hide">
					<label for="state">
						<span class="switch"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group toggle-group">
				<label class="field-label">Use OWFS</label>
				<div class="checkbox toggle">
					<input type="checkbox" id="owfs" class="hide">
					<label for="owfs">
						<span class="switch"></span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="input-group form-group">
		<div class="input-group-addon input-group-addon-label">Tolerance</div>
		<input class="form-control input-lg">
		<div class="input-group-addon input-group-addon-unit">°</div>
	</div>
	<div class="input-group form-group">
		<div class="input-group-addon input-group-addon-label">Time</div>
		<input class="form-control input-lg">
		<div class="input-group-addon input-group-addon-unit">ms</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="input-group form-group">
				<div class="input-group-addon input-group-addon-label">Server</div>
				<input class="form-control input-lg">
			</div>
		</div>
		<div class="col-md-4">
			<div class="input-group form-group">
				<div class="input-group-addon input-group-addon-label">Port</div>
				<input class="form-control input-lg">
			</div>
		</div>
	</div>
</form>