<div class="container settings">
	<h1>Settings</h1>
	<ul class="nav nav-pills nav-stacked">
		<li class="uib-tab nav-item" ui-sref-active="active" heading="System Configuration">
			<a ui-sref="settings.system" class="nav-link" >System Configuration</a>
		</li>
		<li class="uib-tab nav-item" ui-sref-active="active" heading="Probes">
			<a ui-sref="settings.probes" class="nav-link">Probes</a>
		</li>
		<li class="uib-tab nav-item" ui-sref-active="active" heading="Switches">
			<a ui-sref="settings.switches" class="nav-link">Switches</a>
		</li>
		<li class="uib-tab nav-item" ui-sref-active="active" heading="Timers">
			<a ui-sref="settings.timers" class="nav-link">Timers</a>
		</li>
	</ul>
	<div ui-view class="tab-content"></div>
	
</div>